@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("https://media.istockphoto.com/id/638383032/photo/textbooks-stacked-on-school-desk-with-chalkboard-background.jpg?b=1&s=170667a&w=0&k=20&c=v0pEsXCm4L5g45kSSYsMmdy9frASELzGrD6bFIehczI=")
    no-repeat fixed center center;
  background-size: 100% 100%;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu2 {
  position: absolute;
  top: 5%;
  left: 5%;
  -webkit-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
}

.table {
  position: absolute;
  left: 8%;
  top: 30%;
  width: 60%;
  color:#522892;
}

.navMenu a {
  color: #ff656c;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu2 a {
  color: #ff656c;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #ff656c;
}

.navMenu2 a:hover {
  color: #ff656c;
}

.navMenu .dot {
  width: 10px;
  height: 10px;
  background: #ff656c;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navMenu2 .dot {
  width: 10px;
  height: 10px;
  background: #ff656c;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu2 a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(265px);
  transform: translateX(265px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu2 a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(265px);
  transform: translateX(265px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}