@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("https://media.istockphoto.com/id/638383032/photo/textbooks-stacked-on-school-desk-with-chalkboard-background.jpg?b=1&s=170667a&w=0&k=20&c=v0pEsXCm4L5g45kSSYsMmdy9frASELzGrD6bFIehczI=")
    no-repeat fixed center center;
  background-size: 100% 100%;
  font-family: "Montserrat", sans-serif;
}

.navMenu2 {
  position: absolute;
  top: 5%;
  left: 17%;
  -webkit-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
  width: 90%;
}

.table {
  position: absolute;
  left: 8%;
  top: 30%;
  width: 60%;
  color: #e3474f;
}

#element:hover {
  color: #e3474f;
}

.navMenu2 a {
  color: #e3474f;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #ff656c;
}

.navMenu2 a:hover {
  color: #ff656c;
}

.navMenu2 .dot {
  width: 10px;
  height: 10px;
  background: #ff656c;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navMenu2 a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu2 a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(265px);
  transform: translateX(265px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.fa-solid {
  margin-right: 10px;
  height: 24px;
  color: #e3474f;
}
.fa-solid:hover {
  color: #ff656c;
}

#nova {
  background-color: #e3474f;
  border-color: #e3474f;
  color: wheat;
  position: absolute;
  top: 23%;
  left: 48%;
  width: 20%;
}

#nova:hover {
  background-color: #ff656c;
}

.col-md-4 {
  width: 100%;
}

.btn-primary {
  background-color: #e3474f;
  border-color: #e3474f;
}

.btn-primary:hover {
  background-color: #ff656c;
  border-color: #ff656c;
}

#btnDodaj:active {
  background-color: #ff656c;
  border-color: #ff656c;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #ff656c;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #ff656c;
}
.navMenu .dot {
  width: 10px;
  height: 10px;
  background: #ff656c;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(265px);
  transform: translateX(265px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.search-class {
  position: absolute;
  top: 23%;
  left: 8%;
  width: 20%;
}

.search-icon {
  color: #e3474f;
}

.sort-btn {
  position: absolute;
  top: 23%;
  left: 37%;
  background-color: #e3474f;
  color: white;
  font-weight: bold;
  border-color: #e3474f;
}
.sort-btn:hover,
.sort-btn:active {
  background-color: #ff656c !important;
  color: white !important;
  border-color: #ff656c !important;
}

#odjava {
  border: 1px solid#e3474f;
  border-radius: 5%;
  text-align: center;
  margin-left: 22%;
}

#odjava:hover {
  background-color: #ff656c !important;
  color: white !important;
}
